  #pixiv-helper {
      text-align: center;
  }

  #pixiv-helper .ph-title {
      color: #333;
      line-height: 20px;
      font-size: 15px;
      font-weight: bold;
  }

  #pixiv-helper .ph-button .btn {
      background: #009CFF;
      color:  #FFF;
      text-transform: unset;
      font-weight: bold;
  }

  #pixiv-helper ._follow-buttons .follow-button {
      width: 90%;
      padding: 0;
  }